.Menu {
  padding-top: 80px;
  
  height: calc( 100vh - 260px );
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: white;

  .menu-page {
    height: 56vh;
    width: 300px;
    margin: 10vh auto;

    box-shadow:
      0 0 20px 10px #fff,  /* inner white */
      0 0 33px 20px #f0f, /* middle magenta */
      0 0 46px 30px #0ff; /* outer cyan */

    border-radius: 8px;

    .menu-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      margin-top: 5px;
    }
  }
}
