.Navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  
  width: 100%;
  min-height: 80px;
  
  background-image: linear-gradient(
    to bottom,
    rgba(156, 21, 219, 0.75),
    rgba(56, 31, 72, 0.25)
  );

  display: flex;
  flex-direction: row;

  h1 {
    color: #fffa;
    padding: 10px 0 10px 20px;
    flex-grow: 5;
  }

  ul.nav-links {
    list-style: none;
    padding: 13px 0 0 0;
    
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      color: white;
      font-size: 1.25rem;
      text-decoration: none;

      &:hover {
        color: #fffa;
      }

    }

    li {
      flex-grow: 1;
      text-align: center;
      padding-top: 10px;
    }
  }
}
